
.App {
  background-color: lightgreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.click-to-card {
  margin-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
  text-decoration: none;
  color: green
}

body {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  /* background-color: #333;
  font-family: 'Luckiest Guy';
  font-size: 25px; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center */
}

header {
  text-align: center;
  color: green;
  font-size: calc(10px + 2vmin);
  margin-top: 20px;
  margin-bottom: 2%
}

.audio-button {
  text-align: center;
  border-radius: 50%;
  background-color: yellow;
  width:10%;
  margin-left:45%;
  margin-right:45%;
}

.sunflower {
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 40%;
}

.pun-one {
  background-color: yellow;
  position:absolute;
  /* top: 10px; */
  left:0;
  bottom:35%;
  width:10%;
  margin-left:45%;
  margin-right:45%;
}

.Pun {
  position: relative; 
  bottom: 420px;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: brown
  /* top: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}

.pun-two {
  background-color: yellow;
  position:absolute;
  text-align: center;
  left:0;
  bottom:80%;
  width:10%;
  margin-left:45%;
  margin-right:45%;
}

.PunTwo {
  position: relative; 
  bottom: 150px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: brown
}

/* path {
  fill: transparent;
} */
